@import "bootstrap/scss/bootstrap";



h1{
    font-size: 25px;
    margin-top:20px;
    text-align: center;
}
h2{
    font-size: 22px;
    margin-top:18px;
}

h3{
    font-size: 18px;
    margin-top:20px;
}

.preco_plano{
    font-size: 16px;
    font-weight: bold;
}

form{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 8px;
    background-color: #ffffff;
    margin-bottom: 20px;    
}

.form-control{
    border-radius: 0.25rem;
    border: 1px solid #ced4da;
    padding: 0.375rem 0.75rem;
    width: 50%;
}

.form-control-prod{
    border-radius: 0.25rem;
    border: 1px solid #ced4da;
    padding: 0.375rem 0.75rem;
    width: 25%;
}
