@import "bootstrap/scss/bootstrap";


.navbar{
    margin-bottom: 20px;
    padding: 10px;
    background-color: #f8f9fa;
    border-radius: 5px;
    
}


h1{
    font-size: 25px;
    margin-top:20px;
    text-align: center;
}
h2{
    font-size: 22px;
    margin-top:18px;
}

h3{
    font-size: 18px;
    margin-top:20px;
}

.preco_plano{
    font-size: 16px;
    font-weight: bold;
}


